.button {
   display: inline-block;
   padding: 11px 33px;
   cursor: pointer;
   font-weight: 500;
   font-size: 16px;
   line-height: 178.19%;
   letter-spacing: -0.035em;
   border: none;
   border-radius: 8px;
}

.light {
   background-color: #fff;
   color: #359740;
}

.green {
   background-color: #359740;
   color: #fff;
}
