.button {
   display: inline-block;
   padding: 11px 33px;
   cursor: pointer;
   font-weight: 500;
   font-size: 16px;
   line-height: 178.19%;
   letter-spacing: -0.035em;
   border: none;
   border-radius: 8px;
}

.light {
   background-color: #fff;
   color: #359740;
   border: 1px solid #efefef;
}

.green {
   background-color: #359740;
   color: #fff;
   border: 1px solid #359740;
}

.category {
   display: flex;
   align-items: center;
   gap: 12px;
}
