.about {
   padding: 60px 0;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 60px;
   @media only screen and (max-width: 1020px) {
      grid-template-columns: repeat(1, 1fr);
   }
}

.text {
   font-weight: 300;
   font-size: 16px;
   line-height: 28px;
   color: #1f2533;
   margin-top: 20px;
}

.imgWapper {
   display: flex;
   align-items: center;
   justify-self: center;
}

.img {
   width: 100%;
}
