.card {
   position: relative;
   border: 2px solid #efefef;
   border-radius: 8px;
   padding: 28px;
}

.likeBtn {
   position: absolute;
   top: 12px;
   right: 12px;
   background-color: #fff;
   height: 40px;
   width: 40px;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   border: 1px solid #efefef;
   cursor: pointer;
}

.productImg {
   max-width: 100%;
   aspect-ratio: 1 / 1;
}

.status {
   margin: 20px 0 10px 0;
   display: flex;
   gap: 14px;
   align-items: flex-end;
}

.count {
   font-weight: 400;
   font-size: 14px;
   line-height: 178.19%;
   color: #70737c;
}

.category {
   display: inline-block;
   background-color: #d0d0d0;
   padding: 5px 10px;
   font-size: 14px;
   color: #359740;
   border-radius: 10px;
}

.productDesc {
   font-weight: 500;
   font-size: 16px;
   line-height: 25px;
   letter-spacing: -0.04em;
   color: #1f2533;
   cursor: pointer;
}

.footer {
   margin-top: 8px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.price {
   font-weight: 600;
   font-size: 28px;
   line-height: 54px;
   color: #1f2533;
}

.btn {
   width: 48px;
   height: 48px;
   background-color: #fff;
   border: 1px solid #efefef;
   border-radius: 8px;
   cursor: pointer;
   img {
      max-width: 100%;
   }
}

.imgBox {
   min-height: 218px;
}
