.showcase {
   position: relative;
   padding: 40px 70px;
   background: #eaf1eb;
   border-radius: 24px;
   overflow: hidden;

   &.darkMode {
      background: #1a1a33;
   }

   @media only screen and (max-width: 600px) {
      padding: 15px;
   }
}

.contentWrapper {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 1rem;

   @media only screen and (max-width: 1020px) {
      flex-direction: column-reverse;
   }
}

.productBg {
   position: absolute;
   top: 0;
   right: 0;
   max-height: 100%;
   @media only screen and (max-width: 1020px) {
      transform: rotate(-90deg);
      right: -65px;
      top: -30px;
      height: 400px;
   }
}

.productImg {
   position: relative;
   z-index: 1;
   max-width: 300px;
   aspect-ratio: 1 / 1;

   @media only screen and (max-width: 1020px) {
      max-width: 100%;
      min-width: 220px;
      max-height: 300px;
      aspect-ratio: 1 / 1;
   }
}

.title {
   font-style: normal;
   font-weight: 600;
   font-size: 48px;
   line-height: 54px;
   letter-spacing: -0.05em;
   color: #1f2533;

   @media only screen and (max-width: 1020px) {
      font-size: 40px;
   }
   @media only screen and (max-width: 600px) {
      font-weight: 600;
      font-size: 28px;
      line-height: 36px;
      letter-spacing: -0.05em;
   }
}

.desc {
   font-style: normal;
   font-weight: 300;
   font-size: 16px;
   line-height: 28px;
   color: #1f2533;
   margin-top: 12px;

   @media only screen and (max-width: 600px) {
      font-weight: 300;
      font-size: 14px;
      line-height: 28px;
   }
}

.productInfo {
   display: flex;
   align-items: baseline;
   gap: 20px;
}

.productPrice {
   font-weight: 600;
   font-size: 42px;
   line-height: 54px;
   color: #1f2533;
   @media only screen and (max-width: 600px) {
      font-size: 32px;
      line-height: 34px;
   }
}

.deprecatedPrice {
   font-weight: 600;
   font-size: 22px;
   line-height: 54px;
   color: #70737c;
   text-decoration: line-through;
   @media only screen and (max-width: 600px) {
      font-size: 22px;
      line-height: 54px;
   }
}

.fireIcon {
   @media only screen and (max-width: 600px) {
      height: 25px;
   }
}

.btns {
   display: flex;
   flex-wrap: wrap;
   gap: 12px;
   margin: 20px 0;
}
