@font-face {
   font-family: Lexend;
   src: url(../public/assets/fonts/Lexend-Regular.ttf);
}
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Lexend;
}

a {
   text-decoration: none;
}

.container {
   padding: 25px 10px;
   max-width: 1110px;
   margin-right: auto;
   margin-left: auto;

   @media only screen and (max-width: 1020px) {
      max-width: 720px;
   }
}

.titleWrapper {
   margin: 45px 0;
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-wrap: wrap;
   row-gap: 10px;
}

.cardWrapper {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 30px;
   margin-top: 40px;

   @media only screen and (max-width: 1020px) {
      grid-template-columns: repeat(2, 1fr);
   }

   @media only screen and (max-width: 540px) {
      max-width: 278px;
      margin-right: auto;
      margin-left: auto;
      grid-template-columns: repeat(1, 1fr);
   }
}

.blogBannerWrapper {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 30px;

   @media only screen and (max-width: 1020px) {
      grid-template-columns: repeat(2, 1fr);
   }

   @media only screen and (max-width: 570px) {
      grid-template-columns: repeat(1, 1fr);
   }
}
